.cmsContainer
  width: 100%
  
  h1, h2, h3, h4
    +fontOpenSansCondensed
    line-height: 1.3
    font-weight: 700
  
  h1
    font-size: 30px
    margin-bottom: 30px
    width: 100%
    color: $grayDark
  
  h2
    font-size: 24px
    margin-bottom: 20px
    width: 100%
  
  h3
    font-size: 18px
    margin-bottom: 15px
  
  h4
    font-size: 14px
    margin-bottom: 25px
  
  p
    margin-bottom: 25px
    font-size: 14px
  
  ul
    margin: 10px 0
    list-style: none
    
    li
      margin-bottom: 3px
      position: relative
      padding: 0 0 0 15px
      font-size: 14px
      &:before
        position: absolute
        content: " "
        width: 5px
        height: 5px
        background-color: #474747
        left: 0
        top: 1px
        bottom: 0
        margin: auto 0
  
  ol
    margin: 0
    list-style: none
    list-style-position: outside
    li
      font-size: 12px
      color: #383838
  
  em
    font-style: italic
  
  strong
    font-weight: bold
  
  table
    width: 100%
    margin-top: 15px
    margin-bottom: 15px
    td
      min-width: 200px
      padding: 12px 25px 8px 40px
      color: #262626
      font-size: 14px
      +PHONE_ONLY
        min-width: inherit
        padding: 5px
    tr
      &:nth-of-type(odd)
        background-color: #ececec
  
  img
    display: block
    height: auto
    max-width: 100%
    margin-bottom: 10px
    +PHONE_ONLY
      margin: 0 auto 10px auto
      float: none
  
  .mainphoto
    float: left
    margin-right: 15px
    margin-bottom: 10px
  
  a
    color: $purple
    &:hover
      text-decoration: underline