.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 90px
  background: $white
  z-index: 1000
  transition: 0.3s ease all
  +PC_MIN
    height: 110px
  &.-scroll
    height: 50px
    .header__top
      height: 0
      opacity: 0
    .header__bottom
      height: 50px
    .header__panelIcon
      +font(size 20px)
  
  &__top
    height: 40px
    text-align: right
    transition: 0.3s ease all
    +TAB_MAX
      width: calc(100% + 40px)
      text-align: center
      background: $purple
      position: relative
      left: -20px
  
  &__bottom
    display: flex
    align-items: center
    justify-content: space-between
    height: 50px
    transition: 0.3s ease all
    +PC_MIN
      height: 70px
  
  &__logo
    height: 70%
  
  &__panel
    display: flex
    height: 100%
    +PC_MIN
      position: relative
  
  &__panelItem
    color: $grayDark
  
  &__panelIcon
    +font(size 20px)
    +flex-center
    height: 100%
    width: 50px
    cursor: pointer
    transition: 0.3s ease all
    &:hover, &.-active
      background: $grayDark
      color: $white
    +PC_MIN
      +font(size 35px)
      width: 70px
  
  &__panelContent
    position: absolute
    top: 100%
    right: 0
    width: 100%
    background: $grayDark
    color: $white
    padding: 10px
    opacity: 0
    transition: 0.3s ease all
    pointer-events: none
    transform: translateX(100%)
    &.-thin
      padding: 0
    &.-show
      opacity: 1
      pointer-events: all
      transform: translateX(0)
  
  &__lang
    text-align: right
  
  &__langButton
    color: $white
    padding: 0 10px
    border-right: 2px solid $white
    &:last-child
      border: none
    &:hover
      color: $gray
  
  &__searchForm
    display: flex
  
  &__searchInput, &__searchSubmit
    height: 40px
    padding: 0 10px
    +PC_MIN
      height: 20px
      padding: 0 5px
  
  &__searchInput
    border: none
    width: calc(100% - 40px)
  
  &__searchSubmit
    +font(size 30px)
    position: relative
    background: transparent
    color: $white
    border: none
    margin: 0 0 0 10px
    padding: 0
    width: 30px
    cursor: pointer
    i
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%) scale(1.7, 1)
  
  &__afterSpace
    height: 90px
    +PC_MIN
      height: 110px