header.header
  .container
    .header__top
      include ../phone/phone

    .header__bottom
      .header__logo
        include ../logo/logo

      .header__panel
        .header__panelItem
          .header__panelIcon
            i.fa.fa-bars
          .header__panelContent.-thin
            include ../nav/nav

        .header__panelItem
          .header__panelIcon
            i.fa.fa-search
          .header__panelContent
            form.header__searchForm
              input.header__searchInput(type='text' name='search' placeholder='Wyszukaj na stronie...' autofocus)
              button.header__searchSubmit
                i.fa.fa-caret-right

        a(href='#').header__panelItem
          .header__panelIcon
            i.fa.fa-paperclip

        .header__panelItem
          .header__panelIcon
            i.fa.fa-globe
          .header__panelContent
            .header__lang
              a(href='./').header__langButton PL
              a(href='./').header__langButton EN
              a(href='./').header__langButton DE