nav.nav

  ul.nav__list.-main
    li.nav__item
      a.nav__link(href='text.html') O firmie
    li.nav__item
      a.nav__link(href='product.html') Oferta
      .nav__list
        .nav__item
          a.nav__link(href='product.html') Normalne koperty
          .nav__list
            .nav__item
              a.nav__link(href='product.html') Koperty lekarskie
            .nav__item
              a.nav__link(href='product.html') Koperty poselskie
            .nav__item
              a.nav__link(href='product.html') Koperty urzędnicze
            .nav__item
              a.nav__link(href='product.html') Koperty policyjne
            .nav__item
              a.nav__link(href='product.html') Koperty sądownicze
        .nav__item
          a.nav__link(href='text.html') Inne koperty
          .nav__list
            .nav__item
              a.nav__link(href='text.html') Koperty foliowe
            .nav__item
              a.nav__link(href='text.html') Koperty kurierskie
            .nav__item
              a.nav__link(href='text.html') Koperty bezpieczne
            .nav__item
              a.nav__link(href='text.html') Koperty z rozszerzalnymi bokami
            .nav__item
              a.nav__link(href='text.html') Koperty kartonowe
    li.nav__item
      a.nav__link(href='text.html') Praca
    li.nav__item
      a.nav__link(href='text.html') Kontakt