.nav
  width: 100%
  
  &__list
    position: relative
    display: block
    width: 100%
    transform: translate(0,0)
    &:before
      +font(size 22px weight 700)
      content: '+'
      display: block
      position: absolute
      top: 0
      right: 0
      transform: translateY(-100%)
      background: transparent
      color: $white
      text-align: center
      cursor: pointer
      width: 32px
      height: 32px
      line-height: 32px
    &.-active
      &:before
        content: '-'
      
  &__item
    display: block
    border-bottom: 1px solid transparentize($white, 0.85)
    &:last-child
      border-bottom: none
      
  &__link
    +font(size 14px)
    display: block
    padding: 10px 20px
    color: $grayDark
    transition: 0.2s ease all
    &:hover + .menu__list:before
      color: $grayDark
    &:hover, &.-active
      background: $grayDark
      color: $white
      text-decoration: none
    
    .nav__list &
      padding: 8px 19px
      background: $grayDark
      color: $white
      &:hover
        background: $purple
    
    .nav__list .nav__list &
      background: $grayDark
      padding-left: 35px
      color: $white
      &:hover
        background: $purple
    
    .nav__list .nav__list .nav__list &
      background: $grayDark
      padding-left: 50px
      color: $white
      &:hover
        background: $purple