.download
  .container
    h1.download__title
      +lorem(2)

    .download__box
      - for(var i = 1; i <= 4; i++)
        - var itemDelay = i * 0.3 + 's';
        a.download__item.wow.fadeInRight(data-wow-delay=itemDelay href='#')
          .download__icon
            .download__iconBg
              i.fa.fa-bars

          .download__content
            .download__text
              +lorem(3)
            .download__info (PDF 250 kB)