.download
  +section-padding
  
  &__title
    margin-bottom: 30px
  
  &__box
    display: flex
    flex-wrap: wrap
  
  &__item
    display: flex
    align-items: center
    color: $gray
    &:hover
      text-decoration: none
      .download__icon
        filter: grayscale(1)
    &:last-child
      padding: 0
    +PHONE_ONLY
      width: 100%
      padding: 0 0 20px 0
    +TAB_MIN
      width: 50%
      padding: 0 20px 20px 0
    +PC_MIN
      width: 25%
      padding: 0 20px 0 0
      &:nth-child(n+5)
        margin-top: 10px
  
  &__icon
    width: 30px
    height: 30px
    background: $purple
    color: transparentize($gray, 0.5)
    margin-right: 15px
      
  &__iconBg
    +flex-center
    margin: 5px
    background: $white
    height: calc(100% - 10px)
    border: 1px solid lighten($purple, 30%)
    i
      +font(size 15px)
      border-radius: 0
  
  &__content
    flex: 1
  
  &__text
    +font(weight 700)
    
    