body
  +fontOpenSans
  font-size: 14px
  line-height: 1.4
  color: $gray
  overflow-x: hidden

*::selection
  background-color: $purple
  color: $white

*
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  &:active, &:focus
    outline: none
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    
.container
  +container

img
  display: inline-block