extends ../layout/body

block headScripts

block content
  include ../components/header/header
  include ../components/banner/banner-main
  include ../components/text/text
  include ../components/products/products
  include ../components/offer/offer
