extends ../layout/body

block headScripts

block content
  include ../components/badge/badge
  include ../components/header/header
  include ../components/banner/banner-main
  include ../components/text/text
  include ../components/config/config
  include ../components/download/download
  include ../components/info/info
  include ../components/contact/contact
