.clearfix
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both

=clearfix
  @extend .clearfix

.container
  margin: 0 auto
  padding: 0 20px
  max-width: 1280px

=container
  @extend .container

.absolute-center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

=absolute-center
  @extend .absolute-center

.section-padding
  padding: 50px 0

=section-padding
  @extend .section-padding

.section-bg
  background-size: cover
  background-position: center

=section-bg
  @extend .section-bg