.flex-center
  display: flex
  align-items: center
  justify-content: center

=flex-center
  @extend .flex-center
  
.flex-stretch
  display: flex
  align-items: stretch
  
=flex-stretch
  @extend .flex-stretch