.contact
  +section-padding
  background: $purple
  
  &__box
    margin: 0 auto
    padding: 0 20px
    max-width: 640px
    
  &__top
    +flex-center
    
  &__title, &__button
    display: inline-block
    
  &__title
    color: $white
    
  &__button
    cursor: pointer
    margin-left: 20px
    transition: 0.3s ease all
    &:hover
      opacity: 0.5
    &.-active
      transform: rotate(180deg)
    
  &__arrow
    +section-bg
    height: 40px
    width: 40px
      
  &__form
    margin-top: 30px
      
      
    
  