.contact
  .contact__box
    .contact__top
      h1.contact__title
        +lorem(2)

      .contact__button
        - var arrowStyle = 'background-image: url('+ imgDir +'contact__img.svg)';
        .contact__arrow.wow.bounceInUp(style=arrowStyle data-wow-delay="0.6s")

    .contact__form
      include ../form/form