.banner.-main

  .banner__slider
    - for(var i = 1; i <= 4; i++)
      - var itemStyle = 'background-image: url('+ imgDir +'banner__item-'+ i +'.jpg)'
      .banner__item(style=itemStyle)

        .container
          a.banner__box.wow.fadeInLeft(href='text.html' data-wow-delay="0.6s")
            h1.banner__title
              +lorem(8)

  .banner__scroll
    include ../scroll/scroll-banner


