.banner
  position: relative
  
  &__item
    +section-bg
    box-shadow: inset 0 3000px 3000px transparentize($black, 0.6), inset 0 200px 200px transparentize($black, 0.1)
  
  .container
    height: 100%
  
  &__box
    display: block
    width: 100%
    transition: 0.6s ease all
    transform-origin: top left
    padding-top: 30px
    +TAB_MIN
      width: 75%
    &.-hide
      transform: translateY(50%) scale(0)
      opacity: 0
      
  &__title
    +font(size 30px weight 300)
    color: $white
    +TAB_MIN
      +font(size 40px)
    +PC_MIN
      +font(size 60px)
  
  &__scroll
    position: absolute
    bottom: 20px
    right: 20px
    z-index: 2
    +PC_MIN
      transform: translateX(50%)
      right: 50%