footer.footer
  .container.wow.fadeInRight
    .footer__column
      h1.footer__title
        +lorem(3)
      - for(var i = 1; i <= 4; i++)
        a(href='text.html').footer__link
          +lorem(2)

    .footer__column
      h1.footer__title
        +lorem(2)
      a(href='tel:228101248').footer__link
        i.fa.fa-phone
        | (22) 810 12 48
      a(href='mail@mail.com').footer__link
        i.fa.fa-envelope
        | mail@mail.com

    .footer__column
      h1.footer__title
        +lorem(2)
      a(href='text.html').footer__link
        i.fa.fa-home
        +lorem(8)

    .footer__column
      h1.footer__title
        +lorem(2)
      - for(var i = 1; i <= 4; i++)
        a(href='text.html').footer__link
          +lorem(2)