.footer
  background: $grayLight
  
  .container
    display: flex
    +TAB_MAX
      flex-wrap: wrap
    
  &__column
    width: 100%
    padding: 20px
    +PHONE_ONLY
      border-bottom: 1px solid $white
      &:last-child
        border: none
    +TAB_ONLY
      &:nth-child(3), &:nth-child(4)
        border-top: 1px solid $white
      &:nth-child(2), &:nth-child(4)
        border-left: 1px solid $white
    +TAB_MIN
      width: 50%
    +PC_MIN
      border-left: 1px solid $white
      width: 25%
      min-height: 230px
  
  &__title
    +font(size 18px)
    text-transform: uppercase
    margin-bottom: 20px
    
  &__link
    color: $grayDark
    display: flex
    align-items: center
    margin-bottom: 5px
    &:last-child
      margin: 0
    &:hover
      color: $purple
      
  i
    +font(size 20px)
    height: 22px
    width: 22px
    display: flex
    align-items: center
    margin-right: 15px
    