.offer
  +section-padding
  
  &__container
    +container
    position: relative
    
  &__top, &__dots
    margin-bottom: 20px
    text-align: center
    
  &__arrows
    +TAB_MAX
      display: none
    +PC_MIN
      display: flex
      align-items: center
      justify-content: space-between
      position: absolute
      top: 0
      left: 20px
      right: 20px
      
  &__arrow
    cursor: pointer
    
  &__item
    position: relative
    margin: 0 2px
    color: $gray
    transition: 0.7s ease all
    overflow: hidden
    &:hover
      text-decoration: none
      background: $purple
      color: $white
      .offer__contentTitle
        color: $white
      .offer__itemArrow
        transform: rotate(-90deg)
      .offer__img
        filter: brightness(30%)
    +TAB_MAX
      background: transparentize($grayLight, 0.5)
    +PC_MIN
      height: 600px
      &:hover
        .offer__itemArrow
          transform: translateX(-50%) rotate(-90deg)
  &__img
    +section-bg
    height: 200px
    width: 100%
    transition: 0.7s ease all
    
  &__content
    padding: 40px 20px
    text-align: center
    
  &__contentTitle
    transition: 0.7s ease all
    margin-bottom: 20px
    position: relative
    &:after
      content: ''
      width: 80%
      height: 3px
      background: $grayLight
      border-radius: 50%
      position: absolute
      left: 50%
      top: -20px
      transform: translateX(-50%)
    +PC_MIN
      margin-bottom: 40px
    
  &__text
    text-align: justify
    +TAB_MAX
      display: none
      
  &__itemArrow
    transform-origin: center center
    transition: 0.3s ease all
    +PC_MIN
      position: absolute
      bottom: 40px
      left: 50%
      transform: translateX(-50%)
    img
      display: inline-block