.offer
  .container
    .offer__top
      h1.offer__title
        +lorem(2)

      .offer__arrows

    .offer__dots

    .offer__slider.wow.fadeInLeft
      - for(var i = 1; i <= 6; i++)
        - var number = i % 4 + 1;
        - var imgStyle = 'background-image: url('+ imgDir +'offer__item-'+ number +'.jpg)';
        a.offer__item(href='text.html')
          .offer__img(style=imgStyle)
          .offer__content
            h1.offer__contentTitle
              +lorem(2)
            .offer__text
              +lorem(20)
            .offer__itemArrow
              - var arrowSrc = imgDir + 'offer__arrow-right.png';
              img(src=arrowSrc alt='arrow').offer__itemIcon