.products
  +section-padding
  
  &__item
    +section-bg
    position: relative
    height: 410px
    margin: 0 2px
    overflow: hidden
    &:hover
      .products__desc
        background: $black
      .products__hover
        transform: translateY(0) scale(1) rotateY(0deg)
        opacity: 1
  
  &__desc
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    padding: 10px 20px
    background: transparentize($black, 0.5)
    text-align: center
    transition: 0.7s ease all
    text-decoration: none
    z-index: 2
    
  &__title
    color: $white
  
  &__hover
    +flex-center
    background: transparentize($black, 0.2)
    height: 100%
    width: 100%
    transform: translateY(100%) rotateY(180deg)
    transition: 0.7s ease all
    opacity: 0
  
  &__hoverIcon
    +font(size 40px)
    color: $white