.products
  .container
    .products__slider.wow.fadeInRight
      - for(var i = 1; i <= 6; i++)
        - var number = i % 3 + 1;
        - var itemStyle = 'background-image: url('+ imgDir +'products__item-'+ number +'.jpg)';
        a.products__item(style=itemStyle href='product.html')
          .products__desc
            h1.products__title
              +lorem(2)
          .products__hover
            .products__hoverIcon
              i.fa.fa-plus-circle