$loaderBg: $grayLight
$loaderColor1: $purple
$loaderTime: 1.8s

.loader
  background: $loaderBg
  height: 100%
  width: 100%
  position: fixed
  z-index: 9999
  margin-top: 0
  top: 0
  transition: 1s ease opacity
  &.-hide
    opacity: 0
    pointer-events: none
  
  &__box
    width: 100%
    height: 100%
    position: relative
  
  &__center
    position: absolute
    left: 50%
    top: 50%
    height: 50px
    width: 50px
    margin-top: -25px
    margin-left: -25px
    transform: rotate(45deg)
    animation: loader__center 1.5s infinite
  
  &__object
    width: 25px
    height: 25px
    background-color: $loaderColor1
    float: left
    &.-one
      animation: -one $loaderTime infinite
    &.-two
      animation: -two $loaderTime infinite
    &.-three
      animation: -three $loaderTime infinite
    &.-four
      animation: -four $loaderTime infinite
    
    @keyframes loader__center
      100%
        transform: rotate(-45deg)
    @keyframes -one
      25%
        transform: translate(0, -50px) rotate(-180deg)
      100%
        transform: translate(0, 0) rotate(-180deg)
    @keyframes -two
      25%
        transform: translate(50px, 0) rotate(-180deg)
      100%
        transform: translate(0, 0) rotate(-180deg)
    @keyframes -three
      25%
        transform: translate(-50px, 0) rotate(-180deg)
      100%
        transform: translate(0, 0) rotate(-180deg)
    @keyframes -four
      25%
        transform: translate(0, 50px) rotate(-180deg)
      100%
        transform: translate(0, 0) rotate(-180deg)
    