.slick
  
  &-slider
    user-select: text

  &-list.draggable
    user-select: none
    
  &-active
    .slick__dot
      background: $grayDark
    
  &__dots
    display: inline-block
    margin: 0
    padding: 0
    li
      display: inline-block
      margin-right: 10px
      &:last-child
        margin: 0
  
  &__dot
    width: 10px
    height: 10px
    background: $grayLight
    +TAB_MAX
      width: 20px
      height: 20px
    &:hover
      background: transparentize($grayDark, 0.5)
    
  