.form

  form.form__box(name='form' action='mail.php' method='POST')
    .form__msg.-positive.-hide Wiadomość została wysłana
    .form__msg.-negative.-hide Problem z serwerem

    .form__row.-center
      label.form__checkboxStyle
        input(type='checkbox' name='question').form__checkbox
        .form__checkboxItem
      .form__text
        +lorem(5)

    .form__row
      .form__column
        input.form__input(type='text' name='name' placeholder='Imie / nazwisko')
        input.form__input(type='text' name='company' placeholder='Firma')
        input.form__input(type='number' name='phone' placeholder='Telefon')
        input.form__input(type='email' name='email' placeholder='E-Mail' pattern=".{1,60}")
      .form__column
        textarea.form__textarea(name='msg' placeholder='Zapytanie')
        button.form__button(type='submit') Wyślij

    .form__row.-center
      label.form__checkboxStyle
        input(type='checkbox' required).form__checkbox
        .form__checkboxItem
      .form__text.-small
        +lorem(10)

    .form__row
      .form__text.-small
        +lorem(35)