.form
  
  &__box
    position: relative
    overflow: hidden
  
  &__msg
    padding: 15px 45px
    opacity: 1
    transition: 0.3s ease all
    z-index: 100
    text-align: center
    text-transform: uppercase
    width: 100%
    +PHONE_ONLY
      position: fixed
      top: 50px
      left: 0
    +TAB_MIN
      position: absolute
      top: 0
      left: 0
    &.-hide
      opacity: 0
      transform: translate(0, -100%)
      pointer-events: none
    &.-positive
      background: $green
      color: $white
    &.-negative
      background: $red
      color: $white
  
  &__row
    display: flex
    margin-bottom: 15px
    &:last-child
      margin: 0
    +PHONE_ONLY
      flex-direction: column
    &.-center
      align-items: center
      flex-direction: row
  
  &__column
    width: 100%
    +TAB_MIN
      width: calc(50% - 10px)
      &:last-child
        margin-left: 20px
  
  &__input, &__textarea, &__button
    +font(size 14px)
    display: block
    height: 50px
    width: 100%
    background: $white
    border: none
    color: $grayDark
    margin-bottom: 15px
    &.-invalid
      background: $red
    &:focus
      outline: none
      background: darken($grayLight, 10%)
    &::placeholder
      color: $grayDark
    +TAB_MIN
      &:last-child
        margin: 0
      
  &__input
    padding: 0 20px
  
  &__textarea
    +size(height 180px)
    padding: 20px
    resize: none
    overflow: auto
  
  &__button
    +fontOpenSansCondensed
    +font(size 20px weight 700)
    background: $grayLight
    text-align: center
    cursor: pointer
    transition: 0.3s ease all
    &:hover
      background: transparentize($grayLight, 0.3)
    +PHONE_ONLY
      margin-bottom: 0
  
  &__text
    color: $grayLight
    &.-small
      +font(size 10px)
      
  &__checkboxStyle
    position: relative
    display: block
    margin: 0 20px 0 0
    padding: 0
    
  &__checkboxStyle :checked + .form__checkboxItem
      &:after
        content: 'v'
  
  &__checkbox
    position: absolute
    opacity: 0
    
  &__checkboxItem
    background: $white
    width: 15px
    height: 15px
    &:after
      +flex-center
      +font(size 14px weight 700)
      line-height: 1