.badge
  position: absolute
  top: 120px
  left: 0
  z-index: 100
  width: 100%
  overflow: hidden
  
  &__block
    margin-bottom: 10px
  
  &__link
    +font(size 12px weight 700)
    background: $greenLight
    color: $grayDark
    padding: 12px 24px 12px 0
    display: inline-block
    position: relative
    transition: 0.3s ease all
    &:hover
      background: darken($greenLight, 5%)
    &:before
      content: ''
      background: inherit
      position: absolute
      top: 0
      bottom: 0
      width: 1000px
      right: 100%
    &:after
      content: ''
      background: url(../img/badge__border.png)
      position: absolute
      top: 0
      bottom: 0
      left: calc(100% - 10px)
      width: 20px
      z-index: 100
  
  &__remove
    color: $grayDark
    position: relative
    margin-left: -20px
    z-index: 2
      
      
      