- var badgeTab = ['Koperty z pianką ochronną'];
- badgeTab.push('O firmie');
- badgeTab.push('Koperty zwrotne podwójnie perforowane');

.badge
  .container
    - for(var i = 0; i < badgeTab.length; i++)
      .badge__block
        a(href='text.html').badge__link #{badgeTab[i]}
        a(href='#').badge__remove
          i.fa.fa-times