.info
  .container
    .info__slider.wow.fadeInLeft
      - for(var i = 1; i <= 6; i++)
        - var number = i % 4 + 1;
        - var itemStyle = 'background-image: url('+ imgDir +'info__item-'+ number +'.jpg)';
        a.info__item(style=itemStyle href='product.html')
          .info__desc
            +lorem(3)
          .info__hover
            .info__hoverIcon
              i.fa.fa-plus-circle

