.info
  +section-padding
    
  &__item
    +section-bg
    position: relative
    height: 360px
    margin: 0 2px
    overflow: hidden
    &:hover
      .info__desc
        background: $purple
        color: $white
      .info__hover
        transform: translateY(0) scale(1) rotateY(0deg)
        opacity: 1
    
  &__desc
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    padding: 20px
    background: $white
    text-align: center
    transition: 0.7s ease all
    color: $grayDark
    text-decoration: none
    z-index: 2
    
  &__hover
    +flex-center
    background: transparentize($purple, 0.2)
    height: 100%
    width: 100%
    transform: translateY(100%) rotateY(180deg)
    transition: 0.7s ease all
    opacity: 0
    
  &__hoverIcon
    +font(size 40px)
    color: $white
    
    