.config
  .container
    .config__flex
      h1.config__title
        +lorem(2)

      .config__content
        - for(var i = 1; i <= 4; i++)
          - var configDelay = i * 0.3 + 's';
          .config__item.wow.fadeInUp(data-wow-delay=configDelay)
            - var imgSrc = imgDir + 'config__img-' + i + '.png';
            img(src=imgSrc alt='icon').config__img
            .config__desc
              +lorem(10)