.config
  +section-padding
  background: $purple
  overflow: visible
  
  &__flex
    display: flex
    align-items: center
    +TAB_MAX
      flex-direction: column
  
  &__title
    color: $white
    +TAB_MAX
      margin-bottom: 40px
    +PC_MIN
      margin-right: 40px
  
  &__content
    display: flex
    align-items: stretch
    +TAB_MAX
      flex-wrap: wrap
      width: 100%
  
  &__item
    +flex-center
    height: 80px
    position: relative
    &:hover
      .config__desc
        opacity: 1
        transform: scale(1)
        
    +PHONE_ONLY
      width: 100%
    +TAB_ONLY
      width: 50%
    +PC_MIN
      width: 100px
      border-right: 1px solid transparentize($white, 0.8)
      &:last-child
        border: none
        
  &__desc
    position: absolute
    width: 320px
    padding: 20px 30px
    bottom: calc(100% + 70px)
    left: 0
    background: transparentize($black, 0.2)
    color: $white
    opacity: 0
    transform: scale(0)
    transform-origin: bottom
    transition: 0.3s ease all
    &:after
      content: ''
      border: 20px solid transparent
      border-top-color: transparentize($black, 0.2)
      border-left-color: transparentize($black, 0.2)
      width: 0
      height: 0
      position: absolute
      left: 50px
      bottom: -40px
    +TAB_MAX
      bottom: calc(100% + 20px)
      width: 100%
      &:after
        left: calc(50% - 10px)