.phone
  display: inline-flex
  align-items: stretch
  height: 100%
  +PC_MIN
    width: 280px
    border-bottom: 2px solid $grayLight
  
  &__item
    +fontOpenSansCondensed
    +font(size 13px weight 700)
    display: flex
    align-items: center
    color: $gray
    +TAB_MAX
      margin-right: 30px
      &:last-child
        margin: 0
    +PC_MIN
      width: 50%
      padding: 0 20px
  
  &__icon
    +flex-center
    +font(size 18px)
    +TAB_MAX
      color: $white
    +PC_MIN
      margin-right: 10px
      
  &__text
    +TAB_MAX
      display: none
    
  