.phone
  a.phone__item(href='tel:228101248')
    .phone__icon
      i.fa.fa-phone
    .phone__text (22) 810 12 48

  a.phone__item(href='mailto:mail@mail.com')
    .phone__icon
      i.fa.fa-envelope
    .phone__text mail@mail.com





